body{
    margin: 0;
    padding: 0;
    font-size: 18px;
    font-family: 'Sniglet', cursive;

}

p {margin: 0}
a {color: #333}
body  {  background-color: black;
}

header {
    background-color: gray;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.headerLeft {
    height: 100px;
    width: 60%;
    display: flex;
    align-items: center;
}

nav {
    float: right;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 30px;
}

#logomain{
    height:100px;
    float: left;
    padding: 10px;
    margin-left: 12px;
}

#siteTitle {
    margin: 0;
    font-size: 15px;

}

.banner img {
    width:100%;
    margin-top: 10px;
}

.section {
    background: white;
    margin-top: 10px;
}

.item img {
    height: 400px;
    width: 400px;
}

footer {

}